/*=================== General ==================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*=================== Main Heading ==================*/

h2{
    text-align: center; 
    margin: 20px 0;
}

/*=================== Navigator ==================*/


ul{
    display: flex;
    padding: 0;
    margin: 20px auto;
    
}

ul li{
    font-weight: bolder;
    display: inline;
    border: 2px #30d5d5 solid;
    border-radius: 50%;
    padding: 25px;
    position: relative;
    
}
li:not(:last-child){
    margin-right: 50px;
}

li:not(:last-child):after{
    content: "";
    height: 5px;
    width: unset;
    background-color:#17c0d6dc;
    position: absolute;
    width: 52px;
    top: 50%;
    left: 100%;
}
.selected{
    background-color: #30d5d559;
}


/*=================== Options ==================*/

.option{
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 20px;
}
.option:hover{
    
    border: 1px #17c0d6dc solid;
}

.option label{
    position: relative;
}

.option .content{
    padding-left: 25px;
}

/*=================== Amount ==================*/

.amount{
    width: 120px;
    border: 2px #30d5d5 solid;
    margin-top: 10px;
}

.card-header-custom{
    background-color:#17c9d659;
}


/*=================== Buttons ==================*/

button{
    width: 100px;
}

.buttons{
    margin: 20px;
    text-align: center;
}

.next{
    background-color: #00b3cadc;
    color: #FFF;
}
.prev{
    background-color: #0b7381dc;
    color: #FFF;
}

/*=================== Receipt ==================*/


.receipt {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #777;
}

.receipt .invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.receipt .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    border-collapse: collapse;
}

.receipt .invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.receipt .information .bold{
    font-weight: bold;
}
.receipt .invoice-box table tr td:nth-child(3) {
    text-align: right;
}

.receipt .invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.receipt .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.receipt .invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.receipt .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.receipt .invoice-box table tr.details td {
    padding-bottom: 20px;
}

.receipt .invoice-box table tr.item td {
    border-bottom: 1px solid #eee;
}

.receipt .invoice-box table tr.item.last td {
    border-bottom: none;
}
.receipt .invoice-box table tr.total{
    font-weight: bold;
}
